################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ML.Core/.vs/ML.Core/v16
/ML.Core/ML.Core/obj
/ML.Core/ML.Core/bin/Debug
/ML.Core/ML.Core/obj
/ML.Core/.vs/ML.Core/DesignTimeBuild
/ML.Core/ConsoleApp1/bin/Debug/netstandard2.1
/ML.Core/ConsoleApp1/obj
/ML.Core/ML.Core.Test/bin/Debug/netstandard2.1
/ML.Core/ML.Core.Test/obj
/ML.Core/ML.Core.TestTests/obj/Debug/netcoreapp3.1
/ML.Core/ML.CoreTests/bin/Debug/netstandard2.1
/ML.Core/ML.CoreTests/obj
/BuildOutPut
/ML.Core/ML.CoreTests/bin/Release/netstandard2.1
/ML.Core/ML.CoreTests/Properties/PublishProfiles
/ML.Core/ML.Blend/obj
/ML.Core/ML.Blend/bin/Debug
/ML.Core/ConsoleApp2/bin/Debug
/ML.Core/ConsoleApp2/obj
/ML.Core/ConsoleApp1/bin/Debug/netcoreapp3.1
/ML.Core/ConsoleApp1/config.json
/ML.Core/.vs/ML.Core/v17/.suo
/ML.Core/ML.CoreTests/bin/Debug/netcoreapp3.1
/ML.Core/.vs/ML.Core/v17
/ML.Core/ML.BlendTests/obj
/ML.Core/ML.BlendTests/bin/Debug/netcoreapp3.1
/ML.Core/ML.Pay/obj
/ML.Core/.vs/ML.Core/FileContentIndex
